@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li><a asp-area="" asp-controller="Search" asp-action="">Browse</a></li>
@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Wishlist" asp-action="">My Wishlist</a></li>
}
<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>