@{
    ViewData["Title"] = "About";
}

<body>
    <div>
        <h3>Filters</h3>
        <select>
            <option>Manufacturer</option>
            <option>Apple</option>
            <option>HTC</option>
            <option>LG</option>
            <option>Microsoft</option>
            <option>Motorola</option>
            <option>Google</option>
            <option>Samsung</option>
            <option>Sony</option>
        </select>   
        <select>
            <option>Year</option>
        </select>
        <select>
            <option>Operating System</option>
        </select>
        <select>
            <option>Some Other Filters</option>
        </select>
    </div>
    <div class="col-md-8">
        <h2>Products</h2>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        <div class="col-md-3">
            <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
            <a href="Browse">Sample Link</a>
        </div>
        
        
    </div>
    <div class="col-md-4">
        <h3>Details</h3>
        <span><img style="width:75%; height:auto;" src="~/images/cell-phone.png" /></span>
        <p>This text is for detailing this phone's summary and basic details.
         This will be filled with text from the description of a phone.<br /><br />
        
        This section is displayed when a user clicks on one of the images from the left, 
        or they can click the link to directly visit the product page.</p>
        <a href="Product">Go to product page, </a>
    </div>
    <div class="col-md-12">
        <h3>Footer Items</h3>
    </div>
</body>