@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Tianlin Huang - Project Lead</strong> <a href="mailto:tianlin.huang@mohawkcollege.ca">tianlin.huang@mohawkcollege.ca</a>
    <br />
    <strong>Samuel Harbord - Lead Developer, Database Manager</strong> <a href="mailto:samuel.harbord@mohawkcollege.ca">samuel.harbord@mohawkcollege.ca</a><br />
</address>
