@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/filter.css" />
<link rel="stylesheet" href="~/css/homepage.css" />

<div class="row">
    <h2>Find a Phone</h2>
    <hr />
    @await Html.PartialAsync("_SearchPartial")
</div>
<div class="row">
    <h2>Featured Phones</h2>
    <hr />
    @foreach (PhoneModel phoneModel in ViewBag.FeaturedModels)
    {
        <div class="col-md-3 featured-phone">
            <a href="/Phone/@phoneModel.PhoneModelID">
                <img class="phone-image" src="@phoneModel.Phones.First().GetImageURL()" />
                <h4>@phoneModel.PhoneModelID</h4>
            </a>
        </div>
    }
</div>