@{
    ViewData["Title"] = "Contact";
}
<h2>Sample Phone</h2>

<div class="col-md-3">
    <span><img style="width:100%; height:auto;" src="~/images/cell-phone.png" /></span>
    <button style="padding-left:27%;padding-right:27%;">Add to Tracking</button>
</div>
<div class="col-md-9">
    <h2>Price Comparison</h2>

    <div class="col-md-6">
        <h4>Details</h4>
        <br />
        <span>
            Storage
            <select>
                <option>8GB</option>
            </select>
        </span>
        <br />
        <span>
            Carrier
            <select>
                <option>Rogers</option>
            </select>
        </span>
        <br />
        <span>
            Payment Option
            <select>
                <option>Contractual</option>
            </select>
        </span>

    </div>
    <div class="col-md-6">
        <p>Sample Table (To Be Changed to buttons with JS)</p>
        <table style="border: 1px solid black;">
            <tr>
                <td><a href="">Rogers.ca</a></td>
                <td>2 year contract</td>
                <td>$199.99</td>
            </tr>
            <tr>
                <td><a href="">Walmart.ca</a></td>
                <td>2 year contract</td>
                <td>$249.99</td>
            </tr>
            <tr>
                <td><a href="">Bestbuy.ca</a></td>
                <td>1 year contract</td>
                <td>$349.99</td>
            </tr>
            <tr>
                <td><a href="">Amazon.ca </a></td>
                <td>1 year contract </td>
                <td>$299.99 </td>
            </tr>
        </table>
    </div>

</div>
<div class="col-md-12">
    <h3>Specifications</h3>
    <h4>Overview</h4>
    <p>All-new dual 12MP cameras. The brightest, most colourful iPhone display ever. 
    The fastest performance and best battery life in an iPhone. Water- and splash-resistant. And stereo speakers. Every bit as powerful as it looks -- this is iPhone 7 Plus.</p>
    <h4>More Information</h4>
    <p>5.5-inch (diagonal) Retina HD display with 1920-by-1080 resolution and wide colour</p><br />
    <p>3D Touch</p>

New 12MP cameras with optical zoom at 2x, digital zoom up to 10x, optical image stabilization, Quad-LED True Tone flash and Live Photos
Splash-, water- and dust-resistant
A10 Fusion chip with integrated M10 motion coprocessor
4K video recording at 30 fps and slo-mo video recording for 1080p at 120 fps
7MP FaceTime HD camera with Retina Flash
Touch ID fingerprint sensor built into the new Home button
LTE Advanced up to 450 Mbps and 802.11a/b/g/n/ac Wi-Fi with MIMO
iOS 10 and iCloud</p>
</div>


