@using NonFactors.Mvc.Grid;

<script type="text/javascript">
    $(document).ready(function() {
        $(".mvc-grid").mvcgrid({
            reloadEnded: function (e) {
                $(".chk-lock").click(function () {
                    var checked = $(this).prop('checked');
                    console.log(checked);
                    $.ajax({
                        type: "POST",
                        url: '/Admin/' + (checked ? 'L' : 'Unl') + 'ockAccount',
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        data: {
                            email: $(this).data("email"),
                            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
                        },
                        dataType: "json",
                        success: function (data) {
                            if (!data[0]) // If the operation failed, display an error message
                                alert(data[1]);
                        },
                        error: function () {
                            alert("An error occurred while attempting to " + (checked ? "" : "un") + "lock the user's account.");
                        }
                    });
                });
            }
        });
    });
</script>

<div class="row">
    <h2>Administration</h2>
    <hr />
    @Html.AjaxGrid(Url.Action("AdminGrid", new { }))
</div>