#results-container {
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
    -webkit-transition-property: width, height, margin-left;
       -o-transition-property: width, height, margin-left;
          transition-property: width, height, margin-left;
    overflow-x: hidden;
}

#results-container > #results-pages-container {
     -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
    -webkit-transition-property: margin-left;
       -o-transition-property: margin-left;
          transition-property: margin-left;
}

#results-container > #results-pages-container > .results-page-container {
    display: inline-block;
}

#results-container > h4 {
    text-align: center;
    color: gray;
}

#results-container > #results-pages-container > .results-page-container > .result {
    text-align: center;
    padding-top: 2em;
    border-radius: 1em;
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
    -webkit-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

#results-container > #results-pages-container > .results-page-container > .result > a > img, #details-container > img {
    width: 100%;
    mix-blend-mode: multiply;
}

#results-container > #results-pages-container > .results-page-container > .result > a > img {
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
    -webkit-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

#results-container > #results-pages-container > .results-page-container > .result > a > h4 {
    display: table-cell;
    vertical-align: middle;
    height: 68px;
}

#results-container > #results-page-controls-container {
    text-align: center;
    font-size: large;
}

#results-container > #results-page-controls-container > a.page-link {
    padding: 0 0.25em;
}

#results-container > #results-page-controls-container > a.page-link.disabled {
    text-decoration: none;
    color: black;
}

#results-container, #details-container {
    padding: 0;
}

#details-container {
    padding: 0 0.5em;
}

#details-container > #phone-model-description > p:first {
    padding-top: 1em;
}