#results-container {
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
    -webkit-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

#results-container > .result {
    text-align: center;
    border-radius: 1em;
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
    -webkit-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

#results-container >.result > a > img, #details-container > img {
    width: 100%;
}